.wrapper {
    width: 100%;
    margin: auto;
    padding: 0 4.688rem;
    font-family: 'Avenir',Impact,'Arial Narrow Bold', sans-serif;
    line-height: 2rem;
    text-align: justify;
}

.lebneneEle-img-center {
    display: flex;
    justify-content: center;
}

.lebneneEle-img {
    width: 100vw;
    max-width: 100vw;
    object-fit: cover;
    height: 70vh;
    margin: 2.188rem 4.688rem ;
}

.lebneneEle-story {
    margin-top: 2rem;
    padding: 0 0 3rem 0;
}

.lebneneEle-library {
    padding: 0 0 3rem 0;
}

.lebneneEle-library {
    padding: 0 0 1rem 0;
}

.lebneneEle-article {
    display: flex;
    margin: 0;
    height: 30rem;
}

.f-article {
    width: 50%;
}

.s-article {
    width: 50%;
    padding: 8rem;
}

.article-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-top {
    padding-top: 1rem;
}

.read-btn {
    background-color: #C0202E;
    width: 180px;
    height: 40px;
    border-style: unset;
    border-radius: 5px;
    color: white;
    margin-top: 2rem;
    font-size: medium;
    transition: background-color 0.3s, color 0.3s;
}
.read-btn:hover {
    background-color: #861620; 
    cursor: pointer;
  }

.readmore-btn {
    background-color: #C0202E;
    width: 500px;
    height: 50px;
    border-style: unset;
    border-radius: 30px;
    color: white;
    font-size: medium;
    transition: background-color 0.3s, color 0.3s;
}
.readmore-btn:hover {
    background-color: #861620; 
    cursor: pointer;
  }

.readmore-div {
    text-align: center;
    padding-top: 4rem;
}

.lebneneEle-h3 {
    /* margin-bottom: 0.5rem; */
    color: #000000    ;
    border-bottom: 1px solid #000000;
}

.h3-red {
    color: #C0202E;
}

.lebneneEle-text {
    padding-top: 1rem;
}