@import "../fonts/fonts.css";
*{
    margin: 0;
    padding: 0;
}
.post-main{
width: 100%;
position: relative;
display: flex;
justify-content: center;
font-family: "Avenir",sans-serif;
}
.post-details{
    padding-top: 1.25rem;
    width: 58.75rem;
    max-width: 58.75rem;
    line-height: normal;
    font-size: 18px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-article{
    border: 1px solid rgb(237,237,236,0.75);
    background-color: white;
    color: rgb(44,44,43);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.75rem;
    width: 100%;
}
.post-article--details{
    width: 100%;
}
.post-article-metadata{
    padding: 0;
}
.metadata-admin-info{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    gap: .5rem;
    font-size: 14px !important;
    line-height: 1.5;
}
.metadata-admin-info li{
    min-width: 0;
}
.img-name-flex{
    display: flex;
    align-items: center;
}
.article-metadata--img{
    width: 2rem;
    height: 2rem;
    position: relative;
}

.article-metadata--img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.article-metadata--name{
    max-width: 100%;
    height: 1.188rem;
    padding-left: 0.75rem;
}
.dot{
    margin: 0 0.5rem;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: rgb(44,44,43);
    color: rgb(44,44,43);

}
.post-metadata-title{
    font-size: 1.75rem;
    margin-top: 1.688rem;
    font-weight: normal;
}
.article-body{
    margin-top: 1.563rem;
    padding: 1.563rem 0;
    position: relative;

}
.article-body-img{
    margin: auto;
    padding: auto;
    max-width: 100%;
    height: 34.688rem;
}
.article-body-img img{
        width: 100%;
    height: 34.688rem;
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 100%;
}
.sep-line{
    width: 46.25rem;
    height: 1,875rem;
    background-color: white;
}
.article-body p {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.5;
}
.post-footer{
    margin-top: 3.125rem;
}
.line-separator{
    background-color: rgb(44,44,43);
    height: 1px;
    width: 100%;
    opacity: .2;
}
.post-footer-flex{
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.375rem;
    line-height: 1.313rem;
    font-size: 0.875rem;
}
.social-links{
    display: flex;
    align-items: center;
    gap: 1.875rem;
    line-height: 0;
    flex-grow: 1;
}
.social-links button{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    line-height: 0;
    cursor: pointer;
}
.facebook:hover{
    fill: #4464a3;
}
.twitter:hover{
    fill: black;
}
.linkedin:hover{
    fill: #0077b5;
}
.post-footer-flex ul{
display: flex;
align-items: center;
gap: .5rem;
list-style: none;
overflow: hidden;

}
.post-footer-flex ul>li {
overflow: hidden;
text-overflow: ellipsis;
}

.post-footer-flex ul>li a{
    text-decoration: none;
    color: rgb(44,44,43);
}
.post-footer-flex ul>li a:hover{
    color: #C0202E;
}
.recent-posts{
    position: relative;
    width: 58.75rem;
    color: rgb(44,44,43);
    padding:  1.438rem 0;
}
.recent-posts--header{
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    line-height: 1.813rem;
}
.recent-posts--header h2{
    font-size: inherit;
    font-weight: normal;
}
.recent-posts--header a{
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}
.recent-posts--header a:hover{
    color: #C0202E;
}
.recent-posts--list{
    padding: 1.25rem 0;
    display: flex;
    justify-content: space-between;
}
.post-card{
    border: 1px solid rgb(237,237,236,0.75);
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 0;
    width: 18.125rem;
    max-width: 18.125rem;
}
.post-card article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: normal;
}
.recent-posts--list a{
    text-decoration: none;
    color: rgb(44,44,43);
}
.card-img img{
    width: 18rem;
    height: 10.125rem;
    object-fit: cover;

}
.post-card--body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    padding: 24px;
    word-wrap: break-word;
}
.post-card--body h3{
    font-size: 1.25rem;
    line-height: normal;
    margin-bottom: 0.625rem;
}
.recent-post--description{
    margin-top: 0.650rem;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
}
.admin-article-control{
    margin-top: 0.650rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.admin-edit--button{
    background-color: #056839;
    border: 0;
    outline: 0;
    border-radius: .5rem;
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.admin-delete--button{
    background-color: #C0202E;
    border: 0;
    outline: 0;
    border-radius: .5rem;
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    
}


