.popup-textarea{
    width: 100%;
    border: 1px solid #bbb;
    border-radius: .5rem;
    padding: 1rem;
    outline: none;
}
.popup-body label{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
}
.popup-body input{
    margin: 0.5rem 0;
}
.popup-body textarea{
    margin: 0.5rem 0;
}